[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
proj="6.2.0"
bokeh = "2.3.1" # must match version in home.html <script src=>
numpy = "*"
shapely = "*"
matplotlib = "*"
descartes = "*"
rtree = "*"
census = "*"
python-dotenv = "*"
gunicorn = "*"
django = "*"
gitpython = "*"
whitenoise = "*"
# sphinx = "*"
# sphinx-rtd-theme = "*"
# pandas = "*"
# geopandas = "*"
# notebook = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
